/* HERO */

.hero {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 30px auto;
    font-size: 1.2rem;
}

.btn-principal {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-principal:hover {
    background-color: #1d4ed8;
}

/* TITULOS */

.titulo-seccion {
    text-align: center;
    margin-bottom: 40px;
}

/* CURSOS */

.cursos-destacados {
    padding: 70px 0;
}

.curso-card {
    border: 1px solid #dddddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

.curso-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.curso-card h3 {
    margin-top: 15px;
}

.curso-card p {
    padding: 0 15px;
}

.curso-card button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* ESTADISTICAS */

.estadisticas {
    background-color: #f3f4f6;
    padding: 60px 0;
}

.estadisticas h3 {
    font-size: 2.5rem;
    color: #2563eb;
}

/* TESTIMONIOS */

.testimonio {
    text-align: center;
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
}

.testimonio-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #2563eb;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

}